.effetCube{
    animation: animateCube 2s ease-in-out both;
    animation-delay: 1s;
}

.effetNom{
    animation: animateName 2s ease-in-out both;
}

@keyframes animateName{
    0% {
        transform: translateX(-1500px);
    }

    100% {

    }
}

@keyframes animateCube {
    0% {
        transform: translateX(500px);
    }

    100% {
        transform: translateX(0px);
    }
}